leiauteDiplomaDigital_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns="http://portal.mec.gov.br/diplomadigital/arquivos-em-xsd"
			targetNamespace="http://portal.mec.gov.br/diplomadigital/arquivos-em-xsd"
			elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema_v1.1.xsd"/>
	<xs:include schemaLocation="tiposBasicos_v1.00.xsd" />
    
    <xs:complexType name="TDiploma">
		<xs:annotation>
			<xs:documentation>Tipo Diploma Digital</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="infDiploma" type="TInfDiploma"/>
			<xs:element ref="ds:Signature"/>
		</xs:sequence>
    </xs:complexType>

	<xs:complexType name="TInfDiploma">
		<xs:annotation>
			<xs:documentation>Tipo Diploma Digital</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="DadosDiploma" type="TDadosDiploma" />
			<xs:element minOccurs="1" maxOccurs="1" name="DadosRegistro" type="TDadosRegistro" />
		</xs:sequence>
		<xs:attribute name="versao" type="TVersao" use="required">
			<xs:annotation>
				<xs:documentation>Versão do leiaute (v1.00)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" use="required">
			<xs:annotation>
				<xs:documentation>Id</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:ID">
					<xs:pattern value="VDip[0-9]{44}" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	
   	<xs:complexType name="TDadosDiploma">
		<xs:annotation>
			<xs:documentation>Tipo Diploma Digital</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Diplomado" type="TDadosDiplomado"/>
			<xs:element name="DadosCurso" type="TDadosCurso"/>
			<xs:element name="IesEmissora" type="TDadosIesEmissora"/>
			<xs:sequence minOccurs="1" maxOccurs="unbounded">
				<xs:element ref="ds:Signature" />
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="id" use="required">
			<xs:annotation>
				<xs:documentation>Id</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:ID">
					<xs:pattern value="Dip[0-9]{44}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	
   	<xs:complexType name="TDadosRegistro">
		<xs:annotation>
			<xs:documentation>Tipo de dados do registro do diploma digital</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IesRegistradora" type="TDadosIesRegistradora"/>
    		<xs:element name="LivroRegistro" type="TLivroRegistro"/>
    		<xs:element name="IdDocumentacaoAcademica">
    			<xs:simpleType>
					<xs:restriction base="xs:ID">
						<xs:pattern value="ReqDip[0-9]{44}" />
					</xs:restriction>
				</xs:simpleType>
    		</xs:element>
			<xs:element name="Seguranca" type="TSeguranca"/>
			<xs:sequence minOccurs="1" maxOccurs="unbounded">
				<xs:element ref="ds:Signature" />
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="id" use="required">
			<xs:annotation>
				<xs:documentation>Id</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:ID">
					<xs:pattern value="RDip[0-9]{44}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
    
    <xs:complexType name="TDadosDiplomado" >
		<xs:annotation>
			<xs:documentation>Dados do Diplomado</xs:documentation>
		</xs:annotation>
    	<xs:sequence>
    		<xs:element name="ID" type="TId"/>
    		<xs:group ref="GPessoa"/>
    		<xs:element name="Nacionalidade" type="TNacionalidade"/>
    		<xs:element name="Naturalidade" type="TNaturalidade"/>
    		<xs:element name="CPF" type="TCpf"/>
    		<xs:element name="RG" type="TRg"/>
    		<xs:element name="DataNascimento" type="TData"/>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="TDadosIesEmissora">
		<xs:annotation>
			<xs:documentation>Dados da IES Emissora</xs:documentation>
		</xs:annotation>
    	<xs:sequence>
    		<xs:element name="Nome" type="TNomeIES"/>
    		<xs:element name="CodigoMEC" type="TCodIESMEC"/>
    		<xs:element name="CNPJ" type="TCnpj"/>
    		<xs:element name="Endereco" type="TEndereco"/>
    		<xs:element name="Credenciamento" type="TAtoRegulatorio" />
			<xs:element name="Recredenciamento" type="TAtoRegulatorio" />
			<xs:element minOccurs="0"  name="RenovacaoDeRecredenciamento" type="TAtoRegulatorio" />
    		<xs:element minOccurs="0"  name="Mantenedora">
    			<xs:complexType>
	    			<xs:sequence>
			    		<xs:element name="RazaoSocial" type="TRazaoSocial"/>
			    		<xs:element name="CNPJ" type="TCnpj"/>
    					<xs:element name="Endereco" type="TEndereco"/>
		    		</xs:sequence>
	    		</xs:complexType>
    		</xs:element>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="TDadosIesRegistradora">
        <xs:annotation>
            <xs:documentation>Dados da IES registradora</xs:documentation>
        </xs:annotation>
    	<xs:sequence>
    		<xs:element name="Nome" type="TNomeIES"/>
    		<xs:element name="CodigoMEC" type="TCodIESMEC"/>
    		<xs:element name="CNPJ" type="TCnpj"/>
    		<xs:element name="Endereco" type="TEndereco"/>
    		<xs:element name="Credenciamento" type="TAtoRegulatorio"/>
			<xs:element minOccurs="0" name="Recredenciamento" type="TAtoRegulatorio"/>
			<xs:element minOccurs="0" name="RenovacaoDeRecredenciamento" type="TAtoRegulatorio"/>
    	
    		<xs:element name="Mantenedora">
    			<xs:complexType>
	    			<xs:sequence>
			    		<xs:element name="RazaoSocial" type="TRazaoSocial"/>
			    		<xs:element name="CNPJ" type="TCnpj"/>
    					<xs:element name="Endereco" type="TEndereco"/>
		    		</xs:sequence>
	    		</xs:complexType>
    		</xs:element>
    	</xs:sequence>
    </xs:complexType>

    <xs:complexType name="TDadosCurso">
        <xs:annotation>
            <xs:documentation>Dados do curso</xs:documentation>
        </xs:annotation>
    	<xs:sequence>
    		<xs:element name="NomeCurso" type="TString"/>
    		<xs:element name="CodigoCursoEMEC" type="TCodCursoMEC"/>
    		<xs:element name="NomeHabilitacao" type="TString"/>
    		<xs:element name="Modalidade" type="TModalidadeCurso"/>
    		<xs:element name="TituloConferido" type="TTituloConferido"/>
    		<xs:element name="GrauConferido" type="TGrauConferido"/>
    		<xs:element name="EnderecoCurso" type="TEndereco"/>
    		<xs:element minOccurs="0" name="Polo" type="TPolo"/>
    		
    		<xs:element name="Autorizacao" type="TAtoRegulatorio"/>
    		<xs:element name="Reconhecimento" type="TAtoRegulatorio"/>
    		<xs:element minOccurs="0" name="RenovacaoReconhecimento" type="TAtoRegulatorio"/>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="TLivroRegistro">
        <xs:annotation>
            <xs:documentation>Dados do livro</xs:documentation>
        </xs:annotation>
    	<xs:sequence>
    		<xs:element name="LivroRegistro" type="TCodLivroRegistro"/>
    		<xs:element name="NumeroFolhaDoDiploma" type="TNumFolhaDoDiploma"/>
    		<xs:element name="NumeroSequenciaDoDiploma" type="TNumSequenciaDiploma"/>
    		<xs:element name="ProcessoDoDiploma" type="TCodProcessoDoDiploma"/>
    		<xs:element name="DataColacaoGrau" type="TData"/>
    		<xs:element name="DataExpedicaoDiploma" type="TData"/>
    		<xs:element name="DataRegistroDiploma" type="TData"/>
    		<xs:element name="ResponsavelRegistro">
	    		<xs:complexType>
		    		<xs:sequence> 
			    		<xs:element name="Nome" type="TNome"/>
			    		<xs:element name="CPF" type="TCpf"/>
			    		<xs:element name="IDouNumeroMatricula" type="TId"/> <!--  TODO: Checar tipo -->
		    		</xs:sequence>
	    		</xs:complexType>
    		</xs:element>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="THistoricoEscolar">
        <xs:annotation>
            <xs:documentation>Dados do historico</xs:documentation>
        </xs:annotation>
    	<xs:sequence>
	    	<xs:element name="MatrizCurricular">
	    		<xs:complexType>
	    			<xs:sequence>
	    				<xs:element minOccurs="1" maxOccurs="unbounded" name="DisciplinaCursada">
				    		<xs:complexType>
					    		<xs:sequence>
						    		<xs:element name="Disciplina" type="TString"/>
						    		<xs:element name="Periodo" type="TString"/> <!--  TODO: CHECAR TIPO -->
						    		<xs:choice>
						    			<xs:element name="Nota" type="TNota"/>
						    			<xs:element name="Conceito" type="TConceito"/>
						    		</xs:choice>
				    				<xs:element name="Docentes">
							    		<xs:complexType>
								    		<xs:sequence minOccurs="1" maxOccurs="unbounded">
								    			<xs:element name="Docente">
								    				<xs:complexType>
								    					<xs:sequence>
							    							<xs:element name="Nome" type="TNome"/>
							    							<xs:element name="Titulacao" type="TTitulacao"/>
														</xs:sequence>
		    										</xs:complexType>
		    									</xs:element>
			    							</xs:sequence>
		    							</xs:complexType>
	    							</xs:element>
    							</xs:sequence>
				    		</xs:complexType>
			    		</xs:element>
		    		</xs:sequence>
	    		</xs:complexType>
    		</xs:element>
    		
    		<xs:element name="DataEmissaoHistorico" type="TData"/>
    		<xs:element name="SituacaoAluno" type="TSituacaoAlunoHistorico"/>
    		<xs:element name="SituacaoENADE" type="TSituacaoAlunoEnadeHistorico"/>
    		<xs:element minOccurs="0" name="DataProvaEnade" type="TData"/>
    		<xs:element name="CargaHorariaCursoIntegralizada" type="TNumeroPositivo"/>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="TSeguranca">
        <xs:annotation>
            <xs:documentation>Dados de seguranca do diploma</xs:documentation>
        </xs:annotation>
    	<xs:sequence>
    		<xs:element name="CodigoValidacao" type="TCodigoValidacao"/>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="TAtoRegulatorio">
        <xs:annotation>
            <xs:documentation>Ato regulatório</xs:documentation>
        </xs:annotation>
    	<xs:sequence>
    		<xs:element name="Tipo" type="TTipoAto"/>
	   		<xs:element name="Numero" type="TNumeroAto"/>
	   		<xs:element name="Data" type="TData"/>
	   		<xs:element minOccurs="0" name="VeiculoPublicacao" type="TString"/>
	   		<xs:element minOccurs="0" name="DataPublicacao" type="TData"/>
	   		<xs:element minOccurs="0" name="SecaoPublicacao" type="TSecaoPublicacao"/>
	   		<xs:element minOccurs="0" name="PaginaPublicacao" type="TPaginaPublicacao"/>
		</xs:sequence>
	</xs:complexType>
	    
    <xs:complexType name="TPolo">
        <xs:annotation>
            <xs:documentation>Dados do polo</xs:documentation>
        </xs:annotation>
    	<xs:sequence>
       		<xs:element name="Nome" type="TString"/>
    		<xs:element name="Endereco" type="TEndereco"/>
    		<xs:element name="CodigoEMEC" type="TCodPoloMEC"/>
   		</xs:sequence>
 	</xs:complexType>
    
   	<xs:complexType name="TEndereco">
		<xs:annotation>
			<xs:documentation>Tipo Endereço</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Logradouro">
				<xs:annotation>
					<xs:documentation>Logradouro</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="Numero">
				<xs:annotation>
					<xs:documentation>Número</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="Complemento">
				<xs:annotation>
					<xs:documentation>Complemento</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Bairro">
				<xs:annotation>
					<xs:documentation>Bairro</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:group ref="GMunicipio" />
			<xs:element name="CEP">
				<xs:annotation>
					<xs:documentation>CEP</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="preserve"/>
						<xs:pattern value="[0-9]{8}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
    
</xs:schema>
