tiposBasicos_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns="http://portal.mec.gov.br/diplomadigital/arquivos-em-xsd"
			targetNamespace="http://portal.mec.gov.br/diplomadigital/arquivos-em-xsd"
			elementFormDefault="qualified" attributeFormDefault="unqualified">

	<!-- TIPOS PROTOCOLO -->
	<xs:simpleType name="TAmb">
		<xs:annotation>
			<xs:documentation>Tipo Ambiente: Homologação / Produção</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TVersao">
		<xs:annotation>
			<xs:documentation>Tipo Versão</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TString">
			<xs:enumeration value="1.00"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<!-- TIPOS GERAIS -->
	<xs:simpleType name="TAno">
		<xs:annotation>
			<xs:documentation>Tipo ano</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="TString">
		<xs:annotation>
			<xs:documentation>Tipo string genérico. Não permite iniciar/terminar com espaços vazios</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="[!-ÿ]{1}[ -ÿ]{0,}[!-ÿ]{1}|[!-ÿ]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="THttpsURL">
		<xs:annotation>
			<xs:documentation>Tipo URL genérico. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:maxLength value="255" />
			<xs:pattern value="https://.*"/>
		</xs:restriction>
	</xs:simpleType>
	
    <xs:simpleType name="TNumeroPositivo">
		<xs:annotation>
			<xs:documentation>Tipo numérico inteiro positivo genérico</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:minInclusive value="0"/>
			<xs:pattern value="[1-9][0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	
    <xs:simpleType name="TNumeroPositivo2Casas">
		<xs:annotation>
			<xs:documentation>Tipo numérico positivo com 2 casas decimais</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
    
	<xs:simpleType name="TData">
		<xs:annotation>
			<xs:documentation>Tipo data AAAA-MM-DD</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date">
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="THora">
		<xs:annotation>
			<xs:documentation>Tipo hora HH:MM:SS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="(([0-1][0-9])|([2][0-3])):([0-5][0-9]):([0-5][0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="TDataHoraISO8601">
		<xs:annotation>
			<xs:documentation>Data e Hora, formato ISO8601 (AAAA-MM-DDThh:mm:ssTZD, onde TZD = +hh:mm ou -hh:mm)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="(((20(([02468][048])|([13579][26]))-02-29))|(20[0-9][0-9])-((((0[1-9])|(1[0-2]))-((0[1-9])|(1\d)|(2[0-8])))|((((0[13578])|(1[02]))-31)|(((0[1,3-9])|(1[0-2]))-(29|30)))))T(20|21|22|23|[0-1]\d):[0-5]\d:[0-5]\d([\-,\+](0[0-9]|10|11):00|([\+](12):00))"/>
		</xs:restriction>
	</xs:simpleType>

    <xs:simpleType name="TPdfA">
		<xs:annotation>
			<xs:documentation>Documento PDF/A segundo os padrões ISO 19005-1:2005 codificado em Base64</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:base64Binary" />
	</xs:simpleType>
	
    <xs:simpleType name="TCodigoValidacao">
		<xs:annotation>
			<xs:documentation>
			Código de seguranca é composto pelo: "e-MEC emissora" + . + "e-MEC registradora" + . + código alfa-numérico gerado pela registradora
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TString">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\d{1,}\.\d{1,}\.[a-f0-9]{12,}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="THexadecimal">
		<xs:annotation>
			<xs:documentation>
			Código hexadecimal
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TString">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="[a-f0-9]+"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TUf">
		<xs:annotation>
			<xs:documentation>Tipo Sigla da UF</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:enumeration value="AC"/>
			<xs:enumeration value="AL"/>
			<xs:enumeration value="AM"/>
			<xs:enumeration value="AP"/>
			<xs:enumeration value="BA"/>
			<xs:enumeration value="CE"/>
			<xs:enumeration value="DF"/>
			<xs:enumeration value="ES"/>
			<xs:enumeration value="GO"/>
			<xs:enumeration value="MA"/>
			<xs:enumeration value="MG"/>
			<xs:enumeration value="MS"/>
			<xs:enumeration value="MT"/>
			<xs:enumeration value="PA"/>
			<xs:enumeration value="PB"/>
			<xs:enumeration value="PE"/>
			<xs:enumeration value="PI"/>
			<xs:enumeration value="PR"/>
			<xs:enumeration value="RJ"/>
			<xs:enumeration value="RN"/>
			<xs:enumeration value="RO"/>
			<xs:enumeration value="RR"/>
			<xs:enumeration value="RS"/>
			<xs:enumeration value="SC"/>
			<xs:enumeration value="SE"/>
			<xs:enumeration value="SP"/>
			<xs:enumeration value="TO"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TCodUfIBGE">
        <xs:annotation>
			<xs:documentation>Tipo Código da UF da tabela do IBGE</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve" />
			<xs:enumeration value="11" />
			<xs:enumeration value="12" />
			<xs:enumeration value="13" />
			<xs:enumeration value="14" />
			<xs:enumeration value="15" />
			<xs:enumeration value="16" />
			<xs:enumeration value="17" />
			<xs:enumeration value="21" />
			<xs:enumeration value="22" />
			<xs:enumeration value="23" />
			<xs:enumeration value="24" />
			<xs:enumeration value="25" />
			<xs:enumeration value="26" />
			<xs:enumeration value="27" />
			<xs:enumeration value="28" />
			<xs:enumeration value="29" />
			<xs:enumeration value="31" />
			<xs:enumeration value="32" />
			<xs:enumeration value="33" />
			<xs:enumeration value="35" />
			<xs:enumeration value="41" />
			<xs:enumeration value="42" />
			<xs:enumeration value="43" />
			<xs:enumeration value="50" />
			<xs:enumeration value="51" />
			<xs:enumeration value="52" />
			<xs:enumeration value="53" />
		</xs:restriction>
    </xs:simpleType>
    
  <xs:simpleType name="TNomeMun">
        <xs:annotation>
			<xs:documentation>Tipo nome de município</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TString">
			<xs:whiteSpace value="preserve" />
			<xs:maxLength value="255" />
			<xs:minLength value="1" />
		</xs:restriction>
  </xs:simpleType>
    
	<xs:simpleType name="TCodMunIBGE">
		<xs:annotation>
			<xs:documentation>Tipo Código do Município da tabela do IBGE</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:group name="GMunicipio">
		<xs:annotation>
			<xs:documentation>Grupo de elementos define um município com nome, código do IBGE e UF</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CodigoMunicipio" type="TCodMunIBGE"/>
			<xs:element name="NomeMunicipio" type="TNomeMun"/>
			<xs:element name="UF" type="TUf"/>
	    </xs:sequence>
    </xs:group>
	
	<xs:simpleType name="TTitulacao">
        <xs:annotation>
			<xs:documentation>Tipo Titulação</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TString">
			<xs:whiteSpace value="preserve" />
			<xs:enumeration value="Graduação" />
			<xs:enumeration value="Especialização" />
			<xs:enumeration value="Mestrado" />
			<xs:enumeration value="Doutorado" />
		</xs:restriction>
    </xs:simpleType>
    
	<!-- TIPOS DADOS PESSOAIS -->
	<xs:simpleType name="TNome">
        <xs:annotation>
			<xs:documentation>Tipo nome de pessoas</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TString">
			<xs:whiteSpace value="preserve" />
			<xs:maxLength value="255" />
			<xs:minLength value="1" />
		</xs:restriction>
    </xs:simpleType>
    
	<xs:simpleType name="TSexo">
		<xs:annotation>
			<xs:documentation>Tipo Sexo</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="M"/>
		</xs:restriction>
    </xs:simpleType>

	<xs:simpleType name="TNacionalidade">
        <xs:annotation>
			<xs:documentation>Tipo nacionalidade</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TString">
			<xs:whiteSpace value="preserve" />
			<xs:maxLength value="255" />
			<xs:minLength value="1" />
		</xs:restriction>
    </xs:simpleType>
    
	<xs:complexType name="TNaturalidade">
        <xs:annotation>
			<xs:documentation>Tipo naturalidade</xs:documentation>
		</xs:annotation>
		<xs:group ref="GMunicipio" />
  </xs:complexType>
    
	<xs:simpleType name="TId">
        <xs:annotation>
			<xs:documentation>Tipo identificador</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve" />
			<xs:minLength value="1" /> 
		</xs:restriction>
    </xs:simpleType>
	
	<xs:complexType name="TFiliacao">
		<xs:sequence>
    		<xs:element maxOccurs="unbounded" name="Genitor" type="TPessoa" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TPessoa">
		<xs:annotation>
			<xs:documentation>Tipo Pessoa com nome, nome social e sexo</xs:documentation>
		</xs:annotation>
	    <xs:group ref="GPessoa"></xs:group>
    </xs:complexType>
    
	<xs:group name="GPessoa">
		<xs:annotation>
			<xs:documentation>Grupo de elementos define uma pessoa com nome, nome social e sexo</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Nome" type="TNome"/>
			<xs:element minOccurs="0" name="NomeSocial" type="TNome"/>
			<xs:element name="Sexo" type="TSexo"/>
	    </xs:sequence>
    </xs:group>
	
	<xs:simpleType name="TCpf">
        <xs:annotation>
			<xs:documentation>Tipo CPF</xs:documentation>
		</xs:annotation>
		
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse" />
			<xs:maxLength value="11" />
			<xs:pattern value="[0-9]{11}" />
		</xs:restriction>
    </xs:simpleType>
    
	<xs:complexType name="TRg">
    <xs:annotation>
			<xs:documentation>Tipo RG</xs:documentation>
		</xs:annotation>
		
		<xs:sequence>
			<xs:element name="Numero" type="TNumeroRg" />
			<xs:element name="UF" type="TUf" />
		</xs:sequence>
	</xs:complexType>
		
	<xs:simpleType name="TNumeroRg">
    <xs:annotation>
			<xs:documentation>Tipo número do RG</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse" />
			<xs:maxLength value="11"/>
			<xs:pattern value="[a-zA-Z0-9]{6,11}"></xs:pattern>
		</xs:restriction>
  </xs:simpleType>

	<!-- TIPOS DADOS PESSOA JURÍDICA-->
	<xs:simpleType name="TNomeIES">
        <xs:annotation>
			<xs:documentation>Tipo nome IES</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TString">
			<xs:whiteSpace value="preserve" />
			<xs:maxLength value="255" />
			<xs:minLength value="1" />
		</xs:restriction>
    </xs:simpleType>

	<xs:simpleType name="TRazaoSocial">
        <xs:annotation>
			<xs:documentation>Tipo razão social</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TString">
			<xs:whiteSpace value="preserve" />
			<xs:maxLength value="255" />
			<xs:minLength value="1" />
		</xs:restriction>
    </xs:simpleType>

	<xs:simpleType name="TCnpj">
        <xs:annotation>
			<xs:documentation>Tipo Número do CNPJ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve" />
			<xs:maxLength value="14" />
			<xs:pattern value="[0-9]{14}" />
		</xs:restriction>
    </xs:simpleType>
    
   	<xs:simpleType name="TCodIESMEC">
        <xs:annotation>
			<xs:documentation>Tipo Código da IES no MEC</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TNumeroPositivo"/>
    </xs:simpleType>
    
    <!-- CURSOS -->
    <xs:simpleType name="TCodPoloMEC">
        <xs:annotation>
			<xs:documentation>Tipo Código da IES no MEC</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TNumeroPositivo" />
    </xs:simpleType>
    
    
    <xs:simpleType name="TCodCursoMEC">
        <xs:annotation>
			<xs:documentation>Tipo Código da IES no MEC</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TNumeroPositivo" />
    </xs:simpleType>
    
	<xs:simpleType name="TModalidadeCurso">
        <xs:annotation>
			<xs:documentation>Tipo modalidade de curso</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TString">
			<xs:enumeration value="Presencial"/>
			<xs:enumeration value="EAD"/>
		</xs:restriction>
    </xs:simpleType>
        
	<xs:simpleType name="TTituloConferido">
        <xs:annotation>
			<xs:documentation>Tipo título conferido pelo curso</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TString">
			<xs:enumeration value="Bacharel"/>
			<xs:enumeration value="Engenheiro"/>
		</xs:restriction>
    </xs:simpleType>
        
	<xs:simpleType name="TGrauConferido">
        <xs:annotation>
			<xs:documentation>Tipo grau conferido pelo curso</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TString">
			<xs:enumeration value="Tecnólogo"/>
			<xs:enumeration value="Bacharelado"/>
			<xs:enumeration value="Licenciatura"/>
			<xs:enumeration value="Curso sequencial"/>
		</xs:restriction>
    </xs:simpleType>

	<xs:simpleType name="TFormaAcessoCurso">
        <xs:annotation>
			<xs:documentation>Tipo forma de acesso ao curso</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TString">
			<xs:enumeration value="Programas de avaliação seriada ou continuada"/>
			<xs:enumeration value="Convenios"/>
			<xs:enumeration value="Histórico escolar"/>
			<xs:enumeration value="Sisu"/>
			<xs:enumeration value="Enem"/>
			<xs:enumeration value="Vestibular"/>
			<xs:enumeration value="Prova agendada"/>
			<xs:enumeration value="Entrevista"/>
			<xs:enumeration value="Transferência"/>
			<xs:enumeration value="Outros"/>
		</xs:restriction>
    </xs:simpleType>   
     
    <!-- LIVRO REGISTRO -->
	<xs:simpleType name="TCodLivroRegistro">
        <xs:annotation>
			<xs:documentation>Tipo código do livro do registro</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TId">
		</xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="TNumFolhaDoDiploma">
        <xs:annotation>
			<xs:documentation>Tipo número da folha do diploma no livro</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TId">
		</xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="TNumSequenciaDiploma">
        <xs:annotation>
			<xs:documentation>Tipo número sequencial do diploma</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TId">
		</xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="TCodProcessoDoDiploma">
        <xs:annotation>
			<xs:documentation>Tipo código do processo do diploma</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TId">
		</xs:restriction>
    </xs:simpleType>
    
    <!-- HISTÓRICO ESCOLAR -->
    <xs:simpleType name="TSituacaoAlunoHistorico">
        <xs:annotation>
			<xs:documentation>Tipo situação do aluno</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TString">
			<xs:enumeration value="Aprovado"/>
		</xs:restriction>
    </xs:simpleType>   
    <xs:simpleType name="TSituacaoAlunoEnadeHistorico">
        <xs:annotation>
			<xs:documentation>Tipo situação do aluno no ENADE</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TString">
			<xs:enumeration value="IRREGULAR" />
			<xs:enumeration value="Ingressante / Participante" />
			<xs:enumeration value="Dispensado, em razão do calendário trienal" />
			<xs:enumeration value="Concluinte / Participante" />
			<xs:enumeration value="Dispensado pelo MEC" />
			<xs:enumeration value="Dispensado, em razão da natureza do curso" />
			<xs:enumeration value="Dispensado, por razão de ordem pessoal" />
			<xs:enumeration value="Dispensado, por ato da instituição de ensino" />
			<xs:enumeration value="Dispensado, em razão de mobilidade acadêmica no exterior" />
		</xs:restriction>
    </xs:simpleType>   
    
    <xs:simpleType name="TNota">
        <xs:annotation>
			<xs:documentation>Tipo nota</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TNumeroPositivo2Casas">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="10"/>
		</xs:restriction>
    </xs:simpleType>  
    
    <xs:simpleType name="TConceito">
        <xs:annotation>
			<xs:documentation>Tipo Conceito</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TString">
			<xs:enumeration value="A+"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="A-"/>
			<xs:enumeration value="B+"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="B-"/>
			<xs:enumeration value="C+"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="C-"/>
			<xs:enumeration value="D+"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="D-"/>
			<xs:enumeration value="E+"/>
			<xs:enumeration value="E"/>
			<xs:enumeration value="E-"/>
			<xs:enumeration value="F+"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="F-"/>
		</xs:restriction>
    </xs:simpleType>
    
    <!-- LEGAIS -->
    <xs:simpleType name="TTipoAto"> 
        <xs:annotation>
			<xs:documentation>Tipo de ato</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TString">
			<xs:enumeration value="Parecer"/>
			<xs:enumeration value="Resolução"/>
			<xs:enumeration value="Decreto"/>
			<xs:enumeration value="Portaria"/>
			<xs:enumeration value="Lei Federal"/>
			<xs:enumeration value="Lei Estadual"/>
			<xs:enumeration value="Lei Municipal"/>
		</xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="TNumeroAto"> 
        <xs:annotation>
			<xs:documentation>Tipo número de portaria</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TString">
			<xs:pattern value="(\d+)(/[\d\w]+)?"/>
		</xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="TPaginaPublicacao">
        <xs:annotation>
			<xs:documentation>Tipo página Publicação</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TNumeroPositivo" />
    </xs:simpleType>
    
    <xs:simpleType name="TSecaoPublicacao">
        <xs:annotation>
			<xs:documentation>Tipo seção Publicação</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TNumeroPositivo" />
    </xs:simpleType>
    
</xs:schema>
